:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --hover-color: #444444;
  --highlight-color: #25d366;
  --background-gradient: linear-gradient(135deg, #333333 0%, #000000 100%);
}

body {
  font-family: "Montserrat", sans-serif !important;
  background: linear-gradient(135deg, #333333 0%, #000000 100%);
}

/* Sección Video */
.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: var(--secondary-color);
}

.content-wrapper h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: bold;
  margin-bottom: -20px;
}

.content-wrapper h1 .highlight-white {
  color: #ffffff;
}

.content-wrapper h1 .highlight-green {
  color: #03ea82;
}

.paragraph-box {
  display: inline-block;
  position: relative;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  border: 2px solid transparent;
  border-radius: 10px;
  margin-bottom: 40px;
}

.paragraph-box::before,
.paragraph-box::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #03ea82;
  z-index: 3;
}

.paragraph-box::before {
  top: 40px;
  left: 25px;
  border-right: none;
  border-bottom: none;
  width: 50px;
  height: 20px;
}

.paragraph-box::after {
  bottom: 40px;
  right: 25px;
  border-left: none;
  border-top: none;
  width: 50px;
  height: 20px;
}

.paragraph-box h2 {
  margin: 0;
  padding: 20px 20px;
  font-size: 2rem;
  color: #ffffff;
  line-height: 1.8;
  font-weight: lighter;
}

.paragraph-box h2 .highlight-white {
  font-weight: bold;
}

.crosshair-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: #03ea82;
  z-index: -1;
}

.scroll-down {
  font-size: 2rem;
  color: #03ea82;
  margin-top: 100px;
}

.scroll-down p {
  animation: none;
  font-size: 1.5rem;
}

.scroll-down i {
  animation: bounce 2s infinite;
}

.content-wrapper p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: #03ea82;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Sección de Bienvenida */
.welcome-section {
  position: relative;
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  text-align: left;
}

.welcome-content {
  flex: 1;
  max-width: 50%;
  padding: 0 100px;
  position: relative;
  z-index: 2;
}

.welcome-section h1 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  text-align: left;
}

.welcome-section h1 .highlight-green {
  color: #03ea82;
  font-size: 2.3em;
  font-weight: bold;
}

.welcome-section p {
  color: #cccccc;
  margin-bottom: 20px;
  font-size: 1.2em;
  line-height: 1.6;
  text-align: justify;
  width: 80%;
}

.welcome-section button {
  background-color: #03ea82;
  color: #000000;
  border: 2px solid #03ea82;
  padding: 15px 30px;
  margin-top: 20px;
  font-size: 1.2em;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  cursor: pointer;
  border-radius: 50px;
  font-weight: bold;
  width: 80%;
  text-align: left;
  position: relative;
}

.welcome-section button::after {
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  background-color: #000;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
}

.welcome-section button::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.welcome-section button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #03ea82;
  transform: scale(1.1);
}

.welcome-image {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-left: -140px;
}

.welcome-image img {
  width: 100%;
  max-width: 600px;
  border-radius: 50px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s;
}

.welcome-image img:hover {
  transform: scale(1.05);
}

.overlay-image {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.overlay-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: -30px;
  right: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #ffffff;
  padding: 10px 20px; /* Ajuste de padding para acercar el borde al texto */
  border-radius: 25px; /* Ajuste de border-radius para bordes más redondeados */
  max-width: 430px; /* Ajuste del ancho para que el texto quepa */
  display: flex;
  justify-content: center; /* Centrar el texto dentro del contenedor */
}

.text-overlay p {
  color: #ffffff;
  font-style: italic;
  font-size: 1em;
  margin: 0;
  line-height: 1.4;
  text-align: center; /* Alinear el texto al centro */
  padding: 10px;
  width: 100%; /* Estirar el texto para que ocupe todo el ancho del contenedor */
  display: flex;
  flex-direction: column;
}

/* Media Queries */
@media (max-width: 991.98px) {
  .welcome-section {
    flex-direction: column;
    text-align: center;
  }

  .welcome-content,
  .welcome-image {
    max-width: 100%;
    text-align: center;
  }

  .welcome-image {
    margin-top: 20px;
    margin-left: 0;
  }

  .welcome-image img {
    max-width: 100%;
  }

  .welcome-section button {
    max-width: 100%;
  }
}

/* Sección de Navegación */
.navigation-section {
  padding: 80px 20px;
  text-align: center;
  color: var(--secondary-color);
  position: relative;
}

.navigation-section .container {
  position: relative;
  z-index: 2;
}

.navigation-section .section-title {
  color: #25d366;
  margin-bottom: 20px;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.toggle-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.toggle-text {
  color: #ffffff;
  font-size: 1.2em;
  margin: 0 10px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch label.toggle-label {
  position: relative;
  width: 60px;
  height: 30px;
  background: #e94b47;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch label.toggle-label .toggle-ball {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-switch input[type="checkbox"]:checked + label.toggle-label {
  background: #03ea82;
}

.toggle-switch
  input[type="checkbox"]:checked
  + label.toggle-label
  .toggle-ball {
  transform: translateX(30px);
}

.content-container {
  display: none;
}

#tips-content {
  display: none;
}

#malware-content {
  display: block;
}

#toggle:checked ~ #tips-content {
  display: block;
}

#toggle:checked ~ #malware-content {
  display: none;
}

.tip,
.malware-type {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border: 2px solid #444444;
  padding: 30px;
  margin: 15px;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  animation: fadeInUp 1s ease-in-out;
}

.tip:hover,
.malware-type:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.tip-icon-container,
.malware-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #03ea82;
  border-radius: 50%;
  margin: 0 auto 20px;
  transition: transform 0.3s, background-color 0.3s;
}

.malware-icon-container {
  background-color: #e94b47;
}

.tip:hover .tip-icon-container,
.malware-type:hover .malware-icon-container {
  transform: rotate(360deg);
  background-color: #ffffff;
}

.tip .icon,
.malware-type .icon {
  font-size: 2rem !important;
  color: #000000;
}

.tip h3,
.malware-type h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.tip p,
.malware-type p {
  font-size: 1rem;
  color: #cccccc;
}

/* Media Queries for Responsive Sections */
@media (min-width: 992px) {
  .navigation-section .section-title {
    font-size: 3em;
  }

  .tip,
  .malware-type {
    padding: 40px;
  }

  .tip h3,
  .malware-type h3 {
    font-size: 1.75rem;
  }

  .tip p,
  .malware-type p {
    font-size: 1.25rem;
  }

  .tip .icon,
  .malware-type .icon {
    font-size: 3rem;
  }
}

@media (max-width: 991.98px) {
  .navigation-section .section-title {
    font-size: 2.5em;
  }

  .tip,
  .malware-type {
    padding: 35px;
  }

  .tip h3,
  .malware-type h3 {
    font-size: 1.5rem;
  }

  .tip p,
  .malware-type p {
    font-size: 1.1rem;
  }

  .tip .icon,
  .malware-type .icon {
    font-size: 2.75rem;
  }

  .navigation-section .row {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767.98px) {
  .navigation-section .section-title {
    font-size: 2.25em;
  }

  .tip,
  .malware-type {
    padding: 30px;
  }

  .tip h3,
  .malware-type h3 {
    font-size: 1.3rem;
  }

  .tip p,
  .malware-type p {
    font-size: 1rem;
  }

  .tip .icon,
  .malware-type .icon {
    font-size: 2.5rem;
  }

  .navigation-section .row {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 575.98px) {
  .navigation-section .section-title {
    font-size: 2em;
  }

  .tip,
  .malware-type {
    padding: 25px;
  }

  .tip h3,
  .malware-type h3 {
    font-size: 1.2rem;
  }

  .tip p,
  .malware-type p {
    font-size: 0.875rem;
  }

  .tip .icon,
  .malware-type .icon {
    font-size: 2.25rem;
  }

  .navigation-section .row {
    flex-direction: column;
    align-items: center;
  }
}

/* Animaciones */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Sección de Recursos Adicionales */
.additional-resources-section {
  padding: 80px 20px;
  color: var(--secondary-color);
  position: relative;
}

.additional-resources-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, #333333, transparent);
  z-index: 1;
}

.additional-resources-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.left-content {
  flex: 1;
  text-align: left;
}

.section-title {
  color: #03ea82;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: fadeInDown 1s ease-in-out;
}

.section-description {
  color: #cccccc;
  font-size: 1.2em;
  animation: fadeInDown 1s ease-in-out;
}

.right-content {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 20px;
}

.resource-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: var(--highlight-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.resource-icon-container:hover {
  background-color: #ffffff;
}

.resource-icon-container .icon {
  font-size: 2rem;
  color: #000000;
  transition: transform 0.3s;
}

.resource-icon-container:hover .icon {
  transform: rotate(360deg);
}

.resource-description {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border: 2px solid #444444;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.resource-description h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.resource-description p {
  font-size: 1rem;
  color: #cccccc;
}

.resource-icon-container:hover .resource-description {
  display: block;
  opacity: 1;
}

/* Media Queries */
@media (max-width: 991.98px) {
  .additional-resources-container {
    flex-direction: column;
    align-items: center;
  }

  .left-content,
  .right-content {
    width: 100%;
  }

  .right-content {
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .resource-icon-container {
    margin: 0 10px;
  }

  .resource-description {
    width: 250px;
  }
}

@media (max-width: 767.98px) {
  .section-title {
    font-size: 2.25em;
  }

  .section-description {
    font-size: 1.1em;
  }

  .resource-description h3 {
    font-size: 1.3rem;
  }

  .resource-description p {
    font-size: 1rem;
  }
}

@media (max-width: 575.98px) {
  .section-title {
    font-size: 2em;
  }

  .section-description {
    font-size: 1rem;
  }

  .resource-description h3 {
    font-size: 1.2rem;
  }

  .resource-description p {
    font-size: 0.875rem;
  }
}

/* Animaciones */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
