body {
  font-family: 'Montserrat', sans-serif;
  background-color: #2c2c2c;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, main, footer {
  width: 100%;
}

header {
  z-index: 1000;
  width: 100%;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

h2, h3 {
  color: #25d366;
  text-align: center;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card.selected {
  background-color:#25d366;
  color: #ffffff;
}

.form-label {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-card {
  background-color: #3a3a3a;
  border: 1px solid #25d366;
  border-radius: 8px;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%; 
  max-width: 600px;
  display: flex;
  align-items: center;
}

.option-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.option-card.selected {
  background-color: #25d366;
  color: #ffffff;
}

.option-icon {
  margin-right: 10px; 
}

.next-button {
  position: absolute;
  right: 20px;
  top: 50% !important; 
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #25d366;
  color: #ffffff;
  border: none;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.next-button:hover {
  background-color: #1da955;
  border-color: #1da955;
}

.prev-button {
  position: absolute;
  left: 20px;
  top: 50%; 
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #25d366;
  color: #ffffff;
  border: none;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.prev-button:hover {
  background-color: #1da955;
  border-color: #1da955;
}

#footer {
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

#timer-container {
  text-align: center;
  margin-top: 20px;
}

#resultsChart {
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto; 
}

#feedback {
  color: #25d366;
  font-size: 1.2rem;
  text-align: center;
}

#question-title {
  font-size: 1.2em;
  text-align: left;
  margin-bottom: 1rem;
}

#progress-indicator {
  font-size: 1em;
  text-align: right;
  margin-bottom: 1rem;
}

#score-display {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

#results-container .btn {
  margin: 0 10px;
}

#results-container {
  text-align: center;
  color: #e0e0e0;
}

.modal-content {
  background-color: #2c2c2c; 
  color: #e0e0e0; 
}

.modal-header {
  border-bottom: 1px solid #03EA82; 
}

.modal-header .modal-title {
  color: #03EA82;
}

.modal-body {
  color: #cccccc;
}

.list-group-item {
  background-color: #3a3a3a; 
  border: 1px solid #03EA82;
  color: #e0e0e0; 
}

.list-group-item:hover {
  background-color: #03EA82;
  color: #2c2c2c; 
}

.modal-footer {
  border-top: 1px solid #03EA82; 
}

.btn-close {
  color: #e0e0e0;
}

.btn-close:hover {
  color: #03EA82; 
}

.btn-custom {
  background-color: #03EA82;
  color: black;
  border: 2px solid #03EA82;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover {
  background-color: white;
  color: black;
  border-color: #03EA82;
}

.btn-custom {
  background-color: #03EA82;
  color: black;
  border: 2px solid #03EA82;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover {
  background-color: white;
  color: black;
  border-color: #03EA82;
}

.footer-spacing {
  height: 200px; 
  width: 100%;
}

#loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

#loading-svg {
  width: 50px;
  height: 50px;
}